doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle} 
        link(rel="stylesheet", href="/css/main.css")
    body 

        //- <div class="pug-container">
        .pug-container 
            //- <h1>Pug Templating Demo</h1>
            h1 Pug Templating Demo

        //- all tags that do not close on the same line close in indention order
        
