doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/main.css")
    body
        .pug-container 
            form(action="/pugs/create", method="POST") 
                label(for="name") Enter Pugs Name
                input(type="text", name="name")
                label(for="age") Enter Pugs Age
                input(type="number", name="age")
                label(for="owner") Who Is Dogs Owner?
                input(type="text", name="owner")
                input(type="submit")
            
        //- CREATES THE FOLLOWING HTML
            <body>
              <div class="pug-container">
                <form action="/pugs/create" method="POST">
                  <label for="name">Enter Pugs Name</label>
                  <input type="text" name="name">
                  <label for="age">Enter Pugs Age</label>
                  <input type="number" name="age">
                  <label for="owner">Who Is Dogs Owner?</label>
                  <input type="text" name="owner">
                  <input type="submit">
                </form>
              </div>
            </body>
            